body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header, footer {
    text-align: center;
    background-color: #495E57;
    color: #fff;
    padding: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #333;
}
